@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>

    <table>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.SurName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
                <td>
                    <a href="~/Home/Employee/@employee.Id">Карточка</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>
